*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(212, 113, 31); */
    font-family: 'Blaka', cursive;
font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color:#263e71 ;
}
.header{
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 10px -5px rgb(41, 36, 36);
}
.full-box, .header{
    width: 100%;
    /* border-bottom: 3px solid rgb(204, 30, 30); */
    
}
.container{
    width: 1140px;
    margin: auto;
}
.nav-box{
    background-color: white;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list ul li{
    align-items: center;
    list-style: none;
    display: inline;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    display: inline-block;
}
.nav-list ul li:hover{
    background-color: rgb(175, 212, 178);
    color: white;
    transform: scale(1.5);
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
}
/* banner section */

.banner{
    padding-top: 200px;
    text-align: center;
    background-color: #ffffff;
}
.banner h1{
    line-height:1.0 ;
    text-align: center;
    font-size: 50px;
    color:#0f2656;
    margin-bottom: 16px;
}
.banner span{
    color: #008aff;
}

.banner p{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 16px;
}


/* <!-- projects & ideas --> */
.success{
    margin:80px 0 150px;
    padding: 150px 0 200px ;
    display: flex;
}
.left{
    margin-right: 15px
}
.success .left span{
    font-size: 50px;
    text-align: right;
    font-weight: 700
   ;
   color:#f15767 ;
}
.success .left{
    text-align: right;
}
.success .right span{
    font-size: 50px;
    text-align: left;
    font-weight: 700;
    color: #0f2656;
}
.success .left p{
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 16px;
}


/* <!-- Unleash start --> */
.unleash{
    width: 100%;
}
.three-box{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    margin: 100px 0;
}
.s-box{
    padding:0 0 50px 20px;
    transition: 0.5s;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 8px 8px 10px -5px rgb(41, 36, 36);
}
.s-box:hover{
    background-color: #799ebe;;
    transform: scale(1.5);
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
    
}

.s-box p{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 16px;
}
.box1{
    margin:0 20px ;
    background-color: #fdebed
 ;
 padding-left: 15px;
}
.box1 h3{
    margin: 24px 0 16px;
    /* line-height: 1.9; */

}
.box2 h3{
    margin-bottom: 14px;
    margin-top: 13px;
}
.box2{
    margin:0 20px ;
    background-color:    #ebf9f4
    ;
    padding-left: 15px;
}
.box3 h3{
    margin-bottom: 14px;
}
.box3{
    margin:0 20px ;
    background-color:#fff7e8  ;
    padding-left: 15px;
}
/* <!-- Unleash end --> */

/* <!-- footer start  --> */
.footer {
    width: 100%;
    padding: 13px;
    background-color: #008aff;
    justify-content: center;
}
.footer-box p{
    color: white;
    text-align: center;
}
.footer-box p span{
    font-weight: 700;
    letter-spacing: 2.5px;
}
.footer-icon{
    margin: 10px 0 0;
    text-align: center;
}

.footer-icon a i{
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.76);
    line-height: 40px;
    display: inline-block;
    transition: 0.5s;
}
.footer-icon a i:hover{
    /* color: rgb(207, 24, 24); */
    transform: scale(1.5);
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
}
.f-con:hover{
    background-color: #0f2656;
}
/* <!-- footer start end --> */